<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        <H1>States</H1>
        <UL>
            {% for state in state_objs.values()|sort(attribute="name") %}
            <LI>{{ state.id }}: <B>{{ state.name }}</B></LI>
            <UL>
                {% if flag %}
                    {% for city in state.cities_attr|sort(attribute="name") %}
                    <LI>{{ city.id }}: <B>{{ city.name }}</B></LI>
                    {% endfor %}
                {% else %}
                    {% for city in state.cities|sort(attribute="name") %}
                    <LI>{{ city.id }}: <B>{{ city.name }}</B></LI>
                    {% endfor %}
                {% endif %}
            </UL>
            {% endfor %}
        </UL>
    </BODY>
</HTML>